In [37]:
import pandas as pd
import numpy as np

In [38]:
excel_file='drug_drug_matrix.csv'
drug=pd.read_csv(excel_file, header=None)
drug.index

RangeIndex(start=0, stop=548, step=1)

In [39]:
drug.describe()

,0,1,2,3,4,5,6,7,8,9,...,538,539,540,541,542,543,544,545,546,547
count,548.000000,548.000000,548.000000,548.000000,548.000000,548.000000,548.000000,548.000000,548.000000,548.000000,...,548.000000,548.000000,548.000000,548.000000,548.000000,548.000000,548.000000,548.000000,548.000000,548.000000
mean,0.801095,0.375912,0.333942,0.733577,0.354015,0.114964,0.837591,0.299270,0.589416,0.264599,...,0.324818,0.003650,0.516423,0.359489,0.235401,0.007299,0.631387,0.113139,0.569343,0.072993
std,0.399541,0.484800,0.472050,0.442492,0.478651,0.319269,0.369162,0.458357,0.492389,0.441522,...,0.468735,0.060357,0.500187,0.480289,0.424637,0.085201,0.482870,0.317052,0.495621,0.260362
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [40]:
drug.head()

,0,1,2,3,4,5,6,7,8,9,...,538,539,540,541,542,543,544,545,546,547
0,0,1,1,1,1,0,1,1,1,1,...,1,0,1,1,1,0,1,1,1,1
1,1,0,0,1,0,0,1,0,1,0,...,0,0,1,1,1,0,1,0,0,0
2,1,0,0,1,0,0,1,0,1,0,...,1,0,0,0,0,0,1,0,1,0
3,1,1,1,0,1,1,1,1,1,1,...,1,0,1,1,1,0,1,0,1,0
4,1,0,0,1,0,0,1,0,1,0,...,1,0,0,1,0,0,1,0,1,0

In [41]:
# drug.loc[:,]

In [42]:
drug.loc[1][0]

1

In [43]:
for i in range(547):
    for j in range(548):
        result=[i,j,drug.loc[i][j]]
#         print(result)

In [44]:
df='drug_list.csv'
DF=pd.read_csv(df,header=None)
DF.index

RangeIndex(start=0, stop=548, step=1)

In [45]:
DF.loc[3][1]

'DB00996'

In [46]:
for i in range(548):
    for j in range(548):
        result=[DF.loc[i][1],DF.loc[j][1],drug.loc[i][j]]
#         print(result)

In [47]:
d='drugs.csv'
D=pd.read_csv(d,header=None)
D.index

RangeIndex(start=0, stop=2524, step=1)

In [48]:
D.loc[2][0]

'DB08860'

In [49]:

druglist=[]
mismatch=[]
for j in range(2524):
    druglist.insert(j,D.loc[j][0])
for i in range(548):
    if not DF.loc[i][1] in (druglist):
            print(i,DF.loc[i][1])
            mismatch.insert(i,DF.loc[i][1])
            DF=DF.drop([i])

54 DB00659
122 DB00200
162 DB00194
166 DB00558
242 DB02379
261 DB00873
340 DB01260
379 DB00874
386 DB04441
433 DB00538
434 DB06151
495 DB00225
542 DB00878
543 DB00632
547 DB02530

In [36]:
print(DF.index)
DF

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            535, 536, 537, 538, 539, 540, 541, 544, 545, 546],
           dtype='int64', length=533)

           0        1
0       2244  DB00945
1       4609  DB00526
2       3696  DB00458
3       3446  DB00996
4       4058  DB00454
5       4440  DB00952
6       4679  DB00213
7       3419  DB00492
8       2656  DB01212
9     216239  DB00398
10      3877  DB00709
11     60871  DB00718
12      5486  DB00775
13      5487  DB00697
14      5394  DB00853
15      2622  DB01413
16      5578  DB00440
17      2284  DB00181
18      5525  DB00519
19      3355  DB01195
20      2955  DB00250
21      3454  DB01004
22    667490  DB01033
23     71616  DB00582
24      5297  DB01082
25      5095  DB00268
26      1978  DB01193
27      4212  DB01204
28      3143  DB01248
29      3878  DB00555
..       ...      ...
515     3749  DB01029
516    60795  DB01238
517     1206  DB01577
518     4542  DB00367
519     1046  DB00339
520     5533  DB00656
521    74989  DB01117
522     2749  DB01188
523     5267  DB00421
524   213039  DB01264
525   160051  DB00930
526     3291  DB00593
527      853  DB00451
528     5496  DB00684
529     2978  DB00470
530     5038  DB00178
531     5402  DB00857
532  3062316  DB01254
533     3488  DB01016
534   123606  DB00918
535     5039  DB00863
536      596  DB00987
537    93860  DB00188
538     5538  DB00523
539      158  DB00917
540     3350  DB01216
541     2756  DB00501
544     4917  DB00433
545    68844  DB01194
546     5514  DB00273

[533 rows x 2 columns]

In [20]:
# DF

In [21]:
# D

In [19]:
for i in range(1,299):
    DF[K+1]=DF[1].map(D.set_index('Entity')[k])

KeyError: 'Entity'

In [ ]:
x1 = [{'partner':"Afghanistan", 'trade_value':100}, {'partner':"Zambia",'trade_value':110},
      {'partner': "Germany",'trade_value':120},
      {'partner': "Afghanistan",'trade_value':150},{'partner': "USA",'trade_value':1120}]

df1 = pd.DataFrame(x1)
print(df1)

In [ ]:
x2 = [{'country': "Afghanistan", 'distance':1000}, {'country': "USA",'distance':1120}]

df2 = pd.DataFrame(x2)

print(df2)

In [ ]:
df1['distance'] = df1['partner'].map(df2.set_index('country')['distance'])
print(df1)

In [ ]:
D=D.astype(int)
for i in range(533):
    for j in range(2524):
        if DF.loc[i][1]==D.loc[j][0]:
                for k in range(1,299):
                    DF.insert([i][k+1],D.loc[j][k])

In [14]:
import numpy as np
main_list=np.setdiff1d(druglist,dl)

In [15]:
main_list

array(['DB00194', 'DB00200', 'DB00225', 'DB00538', 'DB00558', 'DB00632',
       'DB00659', 'DB00873', 'DB00874', 'DB00878', 'DB01260', 'DB02379',
       'DB02530', 'DB04441', 'DB06151'], dtype='<U7')