In [46]:
import numpy as np
import pandas as pd

In [61]:
excel_file='drug_drug_matrix.csv'
drug=pd.read_csv(excel_file,header=None)
df='drug_list (1).csv'
DF=pd.read_csv(df,header=None)
d='drugs.csv'
D=pd.read_csv(d,header=None)

In [62]:
import numpy as np
druglist=[]
mismatch=[]
for j in range(2524):
    druglist.insert(j,D.loc[j][0])
for i in range(548):
    if not DF.loc[i][1] in (druglist):
            print(i,DF.loc[i][1])
            mismatch.insert(i,DF.loc[i][1])
            DF=DF.drop([i])
            drug=drug.drop([i],axis=0)
            drug=drug.drop([i],axis=1)

54 DB00659
122 DB00200
162 DB00194
166 DB00558
242 DB02379
261 DB00873
340 DB01260
379 DB00874
386 DB04441
433 DB00538
434 DB06151
495 DB00225
542 DB00878
543 DB00632
547 DB02530

In [63]:
# DF

In [64]:
# drug

In [65]:
# D

In [67]:
# DF.to_csv("saved DF.csv",index=False)
# DF = pd.read_csv("saved DF.csv", header=0)
# drug.to_csv('saved drug.csv',index=False)
# drug = pd.read_csv('saved drug.csv', header=0)
# DF

In [68]:
finalmatrix=[]
for i in range(533):
    for j in range(533):
        result=[DF.loc[i][1],DF.loc[j][1],drug.loc[i][j]]
#         print(result)
        finalmatrix.append(result)

In [69]:
F=pd.DataFrame(finalmatrix)

In [70]:
F

              0        1  2
0       DB00945  DB00945  0
1       DB00945  DB00526  1
2       DB00945  DB00458  1
3       DB00945  DB00996  1
4       DB00945  DB00454  1
5       DB00945  DB00952  0
6       DB00945  DB00213  1
7       DB00945  DB00492  1
8       DB00945  DB01212  1
9       DB00945  DB00398  1
10      DB00945  DB00709  1
11      DB00945  DB00718  0
12      DB00945  DB00775  1
13      DB00945  DB00697  1
14      DB00945  DB00853  1
15      DB00945  DB01413  1
16      DB00945  DB00440  1
17      DB00945  DB00181  1
18      DB00945  DB00519  1
19      DB00945  DB01195  1
20      DB00945  DB00250  1
21      DB00945  DB01004  1
22      DB00945  DB01033  0
23      DB00945  DB00582  1
24      DB00945  DB01082  0
25      DB00945  DB00268  1
26      DB00945  DB01193  1
27      DB00945  DB01204  1
28      DB00945  DB01248  1
29      DB00945  DB00555  1
...         ...      ... ..
284059  DB00273  DB01029  1
284060  DB00273  DB01238  1
284061  DB00273  DB01577  0
284062  DB00273  DB00367  1
284063  DB00273  DB00339  0
284064  DB00273  DB00656  1
284065  DB00273  DB01117  1
284066  DB00273  DB01188  0
284067  DB00273  DB00421  1
284068  DB00273  DB01264  0
284069  DB00273  DB00930  1
284070  DB00273  DB00593  1
284071  DB00273  DB00451  1
284072  DB00273  DB00684  0
284073  DB00273  DB00470  1
284074  DB00273  DB00178  1
284075  DB00273  DB00857  1
284076  DB00273  DB01254  0
284077  DB00273  DB01016  1
284078  DB00273  DB00918  1
284079  DB00273  DB00863  1
284080  DB00273  DB00987  0
284081  DB00273  DB00188  0
284082  DB00273  DB00523  1
284083  DB00273  DB00917  0
284084  DB00273  DB01216  1
284085  DB00273  DB00501  1
284086  DB00273  DB00433  1
284087  DB00273  DB01194  0
284088  DB00273  DB00273  0

[284089 rows x 3 columns]

In [ ]:
for K in range(1,299):
    F[K+2]=F[1].map(D.set_index(0)[k])
    K=K+1

In [ ]:
F

In [35]:
F.to_csv("saved F.csv",index=False)