In [2]:
import pandas as pd 
import numpy as np

In [4]:
data = pd.read_csv('data1000v1.csv')

In [6]:
data.shape

(1000, 1139)

In [8]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138
0,DB00384,DB00248,0,0.001651,0.001783,0.001572,0.001935,0.001869,0.001997,0.001921,...,0.001518,0.001730,0.001177,0.001660,0.001451,0.001067,0.001527,0.001565,0.001595,0.001592
1,DB00248,DB00384,0,0.001519,0.001741,0.001426,0.001485,0.001971,0.001518,0.001526,...,0.001483,0.001508,0.001787,0.002060,0.001366,0.001041,0.001414,0.001544,0.001435,0.001480
2,DB00244,DB04835,0,0.001666,0.001544,0.001413,0.001586,0.001652,0.001541,0.001570,...,0.001548,0.001827,0.001109,0.001649,0.001583,0.001372,0.001742,0.001527,0.001811,0.001697
3,DB04835,DB00244,0,0.001572,0.001523,0.001554,0.001496,0.001511,0.001398,0.001510,...,0.001500,0.001568,0.001213,0.001553,0.001437,0.001074,0.001546,0.001854,0.001706,0.001742
4,DB00278,DB00438,0,0.001600,0.001588,0.001563,0.001519,0.001551,0.001390,0.001558,...,0.001554,0.001432,0.001036,0.001328,0.001923,0.001469,0.001791,0.001493,0.001456,0.001638

In [9]:
X_train, X_test = data.iloc[:800,3:], data.iloc[800:,3:]
y_train, y_test = data.iloc[:800,2], data.iloc[:800,2]

In [14]:
X_train.iloc[0].shape

(1136,)