In [1]:
import pandas as pd

In [5]:
DrugBankData = pd.read_csv('../../Drug bank version/summrizedApprovedDB 5.1.6.csv')

In [6]:
DrugName = pd.read_csv('Drug Names.csv')

In [7]:
DrugName

                0
0     ['DB00006']
1     ['DB00014']
2     ['DB00035']
3     ['DB00080']
4     ['DB00091']
...           ...
1596  ['DB13025']
1597  ['DB13092']
1598  ['DB13139']
1599  ['DB13142']
1600  ['DB13145']

[1601 rows x 1 columns]