In [1]:
import numpy as np
import pandas as pd

In [2]:
excel_file='data/DDI_triple.csv'
drug=pd.read_csv(excel_file, header=None)
df='data/drug_name_568.txt'
DF=pd.read_csv(df, header=None)
d='data/CosineSNF(structureAndSideEffect).csv'
D=pd.read_csv(d, header=None)

In [37]:
# ### Deleting missing Drugs
# druglist=[]
# mismatch=[]

# for j in range(len(D)):
#     druglist.insert(j,D.loc[j][0])
# for i in range(len(DF.loc[0])):
#     if not DF.loc[i][1] in (druglist):
#             print(i,DF.loc[i][1])
#             mismatch.insert(i,DF.loc[i][1])
#             DF=DF.drop([i])
#             drug=drug.drop([i],axis=0)
#             drug=drug.drop([i],axis=1)

In [38]:
DF.to_csv("saved DF.csv",index=False)
DF = pd.read_csv("saved DF.csv", header=0)
drug.to_csv('saved drug.csv',index=False)
drug = pd.read_csv('saved drug.csv', header=0)

In [39]:
finalmatrix=[]
for i in range(len(DF.iloc[:,0])):
    for j in range(len(DF.iloc[:,0])):
        result=[DF.loc[i][0],DF.loc[j][0],drug.loc[i][j]]
#         print(result)
        finalmatrix.append(result)
del drug

In [40]:
F = pd.DataFrame(finalmatrix)
del finalmatrix

In [41]:
r, c = F.shape
print(r,c)
print(F.iloc[0,:])

322624 3
0    DB00115
1    DB00115
2          0
Name: 0, dtype: object

In [42]:
j = 0
for i in range(0, r, len(DF.iloc[:,0])):
    try:
        F = F.drop([i + j])
#         print(i)
    except:
        1
#         print(str(i)+ " can't be droped")
    j += 1
F.shape

(322056, 3)

In [43]:
r, c = F.shape
print(r,c)
# list(range(0, r, len(DF.iloc[:,0])))
F.iloc[566,:]

322056 3

0    DB00115
1    DB08801
2          0
Name: 567, dtype: object

In [44]:
# D.set_index(0)

,1,2,3,4,5,6,7,8,9,10,...,559,560,561,562,563,564,565,566,567,568
0,,,,,,,,,,,,,,,,,,,,,
DB00115,0.539895,0.001721,0.001658,0.001866,0.001864,0.001663,0.001717,0.001687,0.001831,0.001599,...,0.001583,0.001594,0.001637,0.001656,0.001588,0.001583,0.001596,0.001623,0.001595,0.001583
DB00130,0.001721,0.539073,0.001646,0.001688,0.001667,0.001721,0.001626,0.001786,0.001635,0.001608,...,0.001595,0.001615,0.001657,0.001689,0.001606,0.001651,0.001613,0.001657,0.001611,0.001602
DB00136,0.001658,0.001646,0.539133,0.002553,0.001663,0.002448,0.001613,0.001700,0.001649,0.001828,...,0.001616,0.001607,0.001619,0.002201,0.001610,0.002125,0.002078,0.001598,0.001643,0.001603
DB00153,0.001866,0.001688,0.002553,0.538695,0.001772,0.002741,0.002042,0.001819,0.001607,0.001673,...,0.001598,0.001646,0.001726,0.002786,0.001594,0.002029,0.002060,0.001631,0.001598,0.001635
DB00158,0.001864,0.001667,0.001663,0.001772,0.539294,0.001714,0.001642,0.001753,0.001817,0.001711,...,0.001692,0.001592,0.001666,0.001667,0.001591,0.001575,0.001588,0.001675,0.001594,0.001637
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DB06777,0.001583,0.001651,0.002125,0.002029,0.001575,0.001918,0.001601,0.001588,0.001605,0.001618,...,0.001754,0.001583,0.001573,0.002180,0.002243,0.539186,0.002626,0.001607,0.002065,0.001634
DB06781,0.001596,0.001613,0.002078,0.002060,0.001588,0.001962,0.001617,0.001609,0.001627,0.001646,...,0.001815,0.001590,0.001580,0.002366,0.001868,0.002626,0.539709,0.001612,0.001828,0.001982
DB06802,0.001623,0.001657,0.001598,0.001631,0.001675,0.001606,0.001669,0.001607,0.001626,0.001619,...,0.001597,0.002029,0.001600,0.001603,0.001903,0.001607,0.001612,0.540222,0.001714,0.001602
DB07615,0.001595,0.001611,0.001643,0.001598,0.001594,0.001590,0.001647,0.001590,0.001614,0.001638,...,0.001826,0.001605,0.001598,0.001603,0.002471,0.002065,0.001828,0.001714,0.539738,0.001628
DB08801,0.001583,0.001602,0.001603,0.001635,0.001637,0.001616,0.001626,0.001937,0.001662,0.001696,...,0.002439,0.001612,0.001585,0.001596,0.001619,0.001634,0.001982,0.001602,0.001628,0.539777

In [50]:
F[0].map(D.set_index(0)[1])

1         0.001721
2         0.001721
3         0.001721
4         0.001721
5         0.001721
            ...
322618    0.001602
322619    0.001602
322620    0.001602
322621    0.001602
322622    0.001602
Name: 0, Length: 322056, dtype: float64

In [52]:
for k in range(1, len(D.iloc[0,:])):
    F[k + 2]=F[0].map(D.set_index(0)[k])
    k += 1

for k in range(1, len(D.iloc[0,:])):
    F[k + len(D.iloc[0,:]) + 3]=F[1].map(D.set_index(0)[k])
    k += 1
del D
del DF

In [53]:
F.shape

(322056, 1139)

In [56]:
F.to_csv("../../saved F(triple_cosineSNF).csv",index=False)

In [57]:
del F

## seperating 1 and -1 from whole data

In [2]:
import pandas as pd

In [4]:
F = pd.read_csv("../../saved F(triple_cosineSNF).csv")

In [8]:
print(F.shape)
F.head()

(322056, 1139)

,0,1,2,3,4,5,6,7,8,9,...,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140
0,DB00115,DB00130,0,0.539895,0.001721,0.001658,0.001866,0.001864,0.001663,0.001717,...,0.001595,0.001615,0.001657,0.001689,0.001606,0.001651,0.001613,0.001657,0.001611,0.001602
1,DB00115,DB00136,0,0.539895,0.001721,0.001658,0.001866,0.001864,0.001663,0.001717,...,0.001616,0.001607,0.001619,0.002201,0.001610,0.002125,0.002078,0.001598,0.001643,0.001603
2,DB00115,DB00153,0,0.539895,0.001721,0.001658,0.001866,0.001864,0.001663,0.001717,...,0.001598,0.001646,0.001726,0.002786,0.001594,0.002029,0.002060,0.001631,0.001598,0.001635
3,DB00115,DB00158,0,0.539895,0.001721,0.001658,0.001866,0.001864,0.001663,0.001717,...,0.001692,0.001592,0.001666,0.001667,0.001591,0.001575,0.001588,0.001675,0.001594,0.001637
4,DB00115,DB00162,0,0.539895,0.001721,0.001658,0.001866,0.001864,0.001663,0.001717,...,0.001620,0.001622,0.001777,0.002357,0.001600,0.001918,0.001962,0.001606,0.001590,0.001616

In [9]:
tripleData = F[F.iloc[:,2]!=0]

In [10]:
tripleData.shape

(42702, 1139)

In [11]:
tripleData.to_csv('../../triple_cosineSNF(-1and1)1.csv',index=False)