In [6]:
import pandas as pd
import numpy as np
import random

In [7]:
def reduceList( DrugPairs):
#     print(dPairs.head())
    i = 0
    newList = []
    seenList = []
    while i < len(DrugPairs.iloc[:,0]):
        d1, d2 = DrugPairs.iloc[i][1], DrugPairs.iloc[i][2]
        buf = DrugPairs[DrugPairs[1]==d2][DrugPairs[2]==d1]
#         print(buf)
        if len(buf) == 1 and (i not in seenList) and (list(buf.index)[0] not in seenList):
            newList.append(i)
            newList.append(list(buf.index)[0])
            seenList.append(list(buf.index)[0])
            seenList.append(i)
        else:
            seenList.append(i)
        i += 1
    return newList

In [8]:
data = pd.read_csv('../../triple_cosineSNF(zeros).csv')

In [9]:
predict = pd.read_csv('predict_(-1 and +1 model)all.csv')
predict.head()

          0         1
0  0.573989  0.331035
1  0.672577  0.415239
2  0.382096  0.521595
3  0.632586  0.135914
4  0.748400  0.185273

In [10]:
zeroList = list(predict[predict['0']<0.4][predict['1']<0.4].index)
len(zeroList)

/usr/lib/python3/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

89109

In [11]:
probZeroDrug = data.iloc[zeroList,:]
probZeroDrug.head()
print(probZeroDrug.shape)

(89109, 1139)

In [12]:
probZeroDrug.iloc[:,0:3].to_csv('probZeroDrugpairs.csv',header = False)
drugsPairs = pd.read_csv('probZeroDrugpairs.csv',header=None)
r, c = drugsPairs.shape
print(r, c)
drugsPairs.head()

89109 4

    0        1        2  3
0  11  DB00115  DB00182  0
1  12  DB00115  DB00184  0
2  16  DB00115  DB00191  0
3  17  DB00115  DB00197  0
4  18  DB00115  DB00198  0

In [13]:
newList = reduceList(drugsPairs.copy())
# print(newDegList)
len(newList)

/usr/lib/python3/dist-packages/ipykernel_launcher.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

32998

In [14]:
probZeroDrug.iloc[newList,:].to_csv('probZeroDrugBothPair.csv',index=False)

In [15]:
probZeroDrugBothPair = pd.read_csv('probZeroDrugBothPair.csv')

In [16]:
drugsPairs = probZeroDrugBothPair.iloc[:,0:3]
r, c = drugsPairs.shape
print(r, c)
drugsPairs.head()

32998 3

         0        1  2
0  DB00115  DB00182  0
1  DB00182  DB00115  0
2  DB00115  DB00184  0
3  DB00184  DB00115  0
4  DB00115  DB00191  0

In [17]:
indexes = []
bufpairs = []
for i in range(int(15000)):
    candInd = np.random.randint(r/2)

    while (int(2 * candInd) in indexes):
        candInd = np.random.randint(r/2)
    indexes.append(int(2 * candInd))
    indexes.append(int(2 * candInd + 1))

print(len(indexes))

30000

In [18]:
drugsPairs.iloc[indexes,:]

             0        1  2
31832  DB01240  DB01337  0
31833  DB01337  DB01240  0
6420   DB00262  DB06802  0
6421   DB06802  DB00262  0
12736  DB00384  DB00419  0
...        ...      ... ..
27009  DB01068  DB00920  0
26294  DB00862  DB01367  0
26295  DB01367  DB00862  0
9434   DB00327  DB00795  0
9435   DB00795  DB00327  0

[30000 rows x 3 columns]

In [19]:
# index = drugsPairs.values[:,0]
# random.shuffle(index)
# drugsPairsShuffled =  drugsPairs.iloc[index]

In [20]:
checked = False
problems = []
i = 0
while(i +1 < len(indexes)):

    if (drugsPairs.iloc[indexes[i],0]==drugsPairs.iloc[indexes[i+1],1])and(drugsPairs.iloc[indexes[i],1]==drugsPairs.iloc[indexes[i+1],0]):
        i += 2

    else:        
        problems.append([i,drugsPairs.iloc[i,:]])

        del indexes[i]

len(problems)

0

In [21]:
probZeroDrug.iloc[indexes,:].to_csv('probZeroDrug30000.csv',index=False)

In [22]:
probZeroDrug.iloc[indexes,:].iloc[:18000,:].to_csv('probZeroDrugTrain.csv',index=False)

In [23]:
probZeroDrug.iloc[indexes,:].iloc[18000:,:].to_csv('probZeroDrugTest.csv',index=False)