In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv('50chosenFromDS1pairs.csv')
# print(df)
A=pd.read_csv("../saved F.csv",header=0)
DF = pd.read_csv('drug_list (1).csv',header=None)

In [ ]:
df.shape

In [3]:
h=[]
for j in range(len(df)):
    for i in range(len(A)):
        if df.values[j,2]==A.values[i,0]:
            if df.values[j,1]==A.values[i,1]:
                h.append(A.values[i])

In [4]:
h

[array(['asghar', 32, 19], dtype=object),
 array(['krish', 19, 32], dtype=object),
 array(['gholi', 40, 21], dtype=object)]

In [52]:
#h=pd.DataFrame(h)

In [91]:
#f=pd.concat([b,h],ignore_index=True).drop_duplicates().reset_index(drop=True)

In [10]:
b=b.values.tolist()

AttributeError: 'list' object has no attribute 'values'

In [6]:
f=b+h

In [7]:
f

[['krish', 19, 32],
 ['asghar', 32, 19],
 ['nick', 21, 40],
 array(['asghar', 32, 19], dtype=object),
 array(['krish', 19, 32], dtype=object),
 array(['gholi', 40, 21], dtype=object)]

In [8]:
f=pd.DataFrame(f)

TypeError: Expected list, got numpy.ndarray

In [9]:
f

        0   1   2
0     ali  17  18
1   zahra  17   6
2  asghar  32  19
3    jack  18  17
4   krish  19  32